/* Center the container div with a width of 70vw */
#container {
    width: 70vw;
    margin: 0 auto;        /* Center the container horizontally */
    padding: 20px;
    text-align: center;    /* Center the text inside the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
    min-height: 70vh;
}

#issMap {
    height: 500px;
}

.custom-tooltip {
    opacity: 0.8; /* Reduce the opacity of the tooltip */
    background-color: white; /* Set the background color */
    padding: 5px; /* Add some padding for better readability */
    border-radius: 3px; /* Optional: round the corners */
}

.leaflet-tooltip {
    background-color: transparent; /* Make sure the Leaflet default background is transparent */
    border: none; /* Remove the default border */
}